.person-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  padding-right: 50px;
  border: 2px dashed black;
  border-radius: 40px;
  width: 150px;
  color: black;
}

/* Color de fondo para "No registrado" */
.person-card.not-registered {
  background-color: #d3d3d3; /* Gris claro */
}

/* Color de fondo para hombre */
.person-card.varon {
  background-color: #aad6ff; /* Azul claro */
}

/* Color de fondo para mujer */
.person-card.mujer {
  background-color: #f1bce6; /* Rosa claro */
}

/* Estilo para la persona central */
.person-card.central {
  background-color: #ff6f5e; /* Color diferente para la tarjeta central */
  grid-column: span 2;
  border: 5px solid rgba(129, 0, 0, 0.521);
}

.person-icon {
  font-size: 2em;
}

.person-name {
  font-weight: 900;
  margin-top: 5px;
}